.header {
    // background-color: #0A21C0;
    background-color: #436B65;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }
  
  .logo {
    height: 40px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 20px;
  }
  
//   .content {
//     background-color: #A9C25D;
//     min-height: 100vh; /* Adjust the height based on the header height */
//   }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: #A9C25D;
    height: 100%; /* Ensure the content area takes the full height of the viewport */
  }
  
  .box {
    background-color: #F7F9FC;
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%; /* Adjust as needed */
  }

  .boxInner {
    background-color: #ffffff;
    padding: 2rem 2rem 2rem 2rem;
    //margin: 2rem 2rem 2rem 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust as needed */
  }
  
  .p-fluid .p-field {
    margin-bottom: 1rem;
  }

  .loan-term {
    display: flex;
    gap: 5px;
  }
  
  .loan-term input {
    flex: 1;
  }
  
  .paddingTop-container {
    padding-top: 20px; // Adjust the value as needed
  }
  
  small {
    color: #414040;
  }
  
  .note {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #666;
  }
  
  
  /* Disable the scroll for all number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hides the spin buttons */
    margin: 0; /* Removes any margin */
}

input[type="number"] {
    -moz-appearance: textfield; /* Hides the spin buttons in Firefox */
}

.info-title {
  color: rgba(70, 87, 233, 0.6);
  font-weight: 600;
  margin: 0 0 4px;
}

.info-text {
  color: rgba(70, 87, 233, 0.6);
  font-weight: 400;
  margin: 0;
}

.info-box {
  border-radius: 12px;
  background-color: #f7f9fc;
  margin-top: 14px;
  padding: 12px;
  font-size: 12px;
  line-height: 20px;
}

@media (max-width: 991px) {
  .info-box {
    max-width: 100%;
  }
}

small{
  color: rgba(70, 87, 233, 0.6);
}

.margin-class{
  margin-bottom: 1rem;
}

.calculate-button {
  text-shadow: 0 1px 1px rgba(5, 5, 35, 0.2);
  border-radius: 12px;
  background-color: #4657e9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 12px;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.calculate-button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.spinner-container {
  top: 50%;
  left: 50%;
  width: 20px; /* Adjust size as needed */
  height: 20px;
  transform: translate(-50%, -50%);
}

.custom-input {
  background-color: #F7F9FC; /* Set background color to match the container */
  border: none; /* Remove border */
  border-radius: 4px; /* Optional: Add slight rounding to the corners */
  padding: 0.5rem 1rem; /* Add padding for better appearance */
  box-shadow: none; /* Remove any shadow if present */
  width: 100%; /* Make sure the input box fills the container */
}