<app-header></app-header>
<div class="content">
  <div class="box">
    <div *ngIf="mortgageName">
      <h2>Mortgage Name: {{ mortgageName.modelName }}</h2>    
      <!-- Conditionally display bank name if it exists -->
      <p *ngIf="mortgageName.bankName">Bank Name: {{ mortgageName.bankName }}</p>
      <div class="p-field">
        <div><small>Click below to edit the name of the Mortgage.</small></div>
        <div class="p-inputgroup">
          <input id="modelName" type="text" pInputText [(ngModel)]="mortgageName.modelName"
            placeholder="Enter model name" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" 
            (input)="onInputChange()" class="custom-input">
        </div>
      </div>  
    </div>
    <div class="boxInner">
    <p>Enter your details:</p>
    <div class="p-fluid">
      <div class="p-field">
        <label for="totalCost">Total cost of the house*</label>
        <div><small>Enter the total purchase price of the property.</small></div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">£</span>
          <input id="totalCost" type="number" pInputText [(ngModel)]="totalCost"
            placeholder="Enter total cost of the house" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0" (input)="onInputChange()">
        </div>
      </div>
      <div class="p-field">
        <label for="preprocessingCost">Preprocessing charges</label>
        <div><small>Enter any processing charges associated with the mortgage.</small></div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">£</span>
          <input id="preprocessingCost" type="number" pInputText [(ngModel)]="preprocessingCost"
            placeholder="Enter processing charges for the mortgage" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0">
        </div>
      </div>
      <div class="p-field">
        <label for="downPayment">Down Payment*</label>
        <div><small>Enter the amount you are paying upfront for the house.</small></div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">£</span>
          <input id="downPayment" type="number" pInputText [(ngModel)]="downPayment"
            placeholder="Enter down payment paid for the house" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0" (input)="onInputChange()">
        </div>
      </div>
      <div class="p-field">
        <label for="interestRate">Interest Rate*</label>
        <div><small>Enter the annual interest rate for the mortgage.</small></div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">%</span>
          <input id="interestRate" type="number" pInputText [(ngModel)]="interestRate"
            placeholder="Enter interest rate for the mortgage" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0" (input)="onInputChange()">
        </div>
      </div>
      <div class="p-field">
        <label for="compoundingPeriod">Compounded</label>
        <div><small>Select how often the interest is compounded.</small></div>
        <p-dropdown [options]="compoundingOptions" [(ngModel)]="compoundingPeriod"
          placeholder="Select Compounding Period"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="loanTerm">Loan Term:*</label>
        <div><small>Enter the duration of the loan in years and months.</small></div>
        <div class="loan-term">
          <span class="p-inputgroup-addon">Years</span>
          <input id="loanTermYears" type="number" pInputText [(ngModel)]="loanTermYears" placeholder="Years" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0" (input)="onInputChange()">
          <span class="p-inputgroup-addon">Months</span>
          <input id="loanTermMonths" type="number" pInputText [(ngModel)]="loanTermMonths" placeholder="Months" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0" (input)="onInputChange()">
        </div>
      </div>
      <div class="p-field">
        <div><label>Do you want to add offset option?</label></div>
        <aside class="info-box margin-class">
          <h3 class="info-title">What is offset mortgage?</h3>
          <p class="info-text">
            An offset mortgage is a type of mortgage that is linked to one of your savings accounts. The money in your savings isn't used to pay off your mortgage. Instead, it's used to lower the total interest you'll be charged on your repayments each month. Even though it could make your mortgage repayments cheaper, you won't earn any interest on those savings your mortgage is 'offset' against.
          </p>
        </aside>
        <div class="p-formgroup-inline">
          <div class="p-field-radiobutton margin-class">
            <p-radioButton name="offsetOption" value="yes" [(ngModel)]="offsetOption"
              inputId="offsetYes"></p-radioButton>
            <label for="offsetYes">Yes</label>
          </div>
          <div class="p-field-radiobutton margin-class">
            <p-radioButton name="offsetOption" value="no" [(ngModel)]="offsetOption" inputId="offsetNo"></p-radioButton>
            <label for="offsetNo">No</label>
          </div>
        </div>
      </div>
      <div class="p-field" *ngIf="offsetOption === 'yes'">

        <div class="p-field" *ngIf="offsetOption === 'yes'">
          <label for="offsetType" class="margin-class">Offset Type</label>
          <div><small>Choose the type of offset you prefer.</small></div>
          <div class="margin-class"><small>In this type of offset you fix an amount at the start of the mortgage term</small></div>
          <div class="p-field-radiobutton">
            <p-radioButton name="offsetTypeOption" value="fixed" [(ngModel)]="offsetTypeOption"
              inputId="offsetTypeFixed"></p-radioButton>
            <label for="offsetTypeFixed">Fixed Amount</label>
          </div>
          <div class="p-field margin-class" *ngIf="offsetTypeOption === 'fixed'">
            <!-- <label for="fixedAmount">Fixed Amount</label> -->
            <div><small>Enter the fixed amount to offset against your mortgage.</small></div>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">£</span>
              <input id="fixedAmount" type="number" pInputText [(ngModel)]="fixedAmount"
                placeholder="Enter fixed amount" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0">
            </div>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton name="offsetTypeOption" value="monthly" [(ngModel)]="offsetTypeOption"
              inputId="offsetTypeMonthly"></p-radioButton>
            <label for="offsetTypeMonthly">Monthly Deposit</label>
          </div>
          <div class="margin-class"><small>In this type of offset you fix an amount at the start of the mortgage term and to this account add some fixed amount each month</small></div>
          <div class="p-field margin-class" *ngIf="offsetTypeOption === 'monthly'">
            <label for="fixedAmount">Initial Amount</label>
            <div><small>Enter the initial amount to deposit to your offset account.</small></div>
            <div class="p-inputgroup margin-class">
              <span class="p-inputgroup-addon">£</span>
              <input id="fixedAmount" type="number" pInputText [(ngModel)]="fixedAmount"
                placeholder="Enter initial amount" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0">
            </div>

            <label for="monthlyAddition">Monthly Addition</label>
            <div><small>Enter the amount you want to add to your offset account each month.</small></div>
            <div class="p-inputgroup margin-class">
              <span class="p-inputgroup-addon">£</span>
              <input id="monthlyAddition" type="number" pInputText [(ngModel)]="monthlyAddition"
                placeholder="Enter monthly addition amount" (focus)="onFocusInput($event)" (blur)="onBlurInput($event)" min="0">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-field">
      <button class="calculate-button" type="submit" label="Submit" [disabled]="!isFormValid || loading" (click)="calculatePayment()">Calculate Payment
          <p-progressSpinner *ngIf="loading" ariaLabel="loading" [style]="{width: '20px', height: '20px'}" ></p-progressSpinner>
      </button>
      <!-- <button class="p-button p-button-primary" (click)="calculatePayment()">Calculate Payment</button> -->
    </div>
    <div><small>This button will become active once all required fields(*) have been completed and contain non-negative values. </small></div>
  </div>
    <div *ngIf="monthlyPayment || totalPayment" class="result-container">
      <h3>Results:</h3>
      <p>Monthly Payment: £{{ monthlyPayment }}</p>
      <p>Total Payment: £{{ totalPayment }}</p>
    </div>

    <div class="p-grid p-nogutter">
      <div class="p-col" *ngIf="monthlyPayment || totalPayment" class="result-container paddingTop-container">
        <div class="note">
          <small>Below is the detailed breakdown of the total cost of the house:</small>
        </div>
        <app-mortgage-pie-chart [downPayment]="downPayment" [preprocessingCharges]="preprocessingCost"
          [loanAmount]="loanAmount" [interestPaid]="totalInterestPaid"></app-mortgage-pie-chart>
      </div>
    </div>
    <div class="p-grid p-nogutter">
      <div class="p-col" *ngIf="amortizationSchedule.length > 0" class="result-container paddingTop-container">
        <div class="note">
          <small>Below we can see the principal amount vs Interest Over Time:</small>
        </div>
        <app-highcharts-area-chart [amortizationSchedule]="amortizationSchedule"></app-highcharts-area-chart>
      </div>
    </div>
    <div class="p-grid p-nogutter">
      <div class="p-col" *ngIf="monthlyPayment || totalPayment" class="result-container paddingTop-container">
        <div class="note">
          <small>Below we can see the principial amount vs Intrest Over Time:</small>
        </div>
        <app-highcharts-ltv-chart [totalCost]="totalCost" [loanAmount]="loanAmount"></app-highcharts-ltv-chart>
      </div>
    </div>

    <div *ngIf="amortizationSchedule.length > 0" class="result-container paddingTop-container">
      <div class="note">
        <small>Below is the detailed schedule and breakdown for your monthly mortgage payments:</small>
      </div>
      <p-table [value]="amortizationSchedule" scrollable="true" scrollHeight="400px">
        <ng-template pTemplate="header">
          <tr>
            <th>Month</th>
            <th>Payment Made</th>
            <th>Interest Paid</th>
            <th>Remaining Loan Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{ rowData.month }}</td>
            <td>{{ rowData.paymentMade | currency: 'GBP' }}</td>
            <td>{{ rowData.interestPaid | currency: 'GBP' }}</td>
            <td>{{ rowData.remainingAmount | currency: 'GBP' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="lineData" class="paddingTop-container">
      <div class="note">
        <small>Below is the graphical representation of your loan amount over time:</small>
      </div>
      <p-chart type="line" [data]="lineData" [options]="chartOptions"></p-chart>
    </div>
  </div>
</div>
<p-toast></p-toast>