<div class="login-container">
    <div class="p-grid p-justify-center">
      <div class="p-col-10 p-md-6 p-lg-4">
        <div class="card">
          <h1>Login</h1>
          <form>
            <div class="p-fluid">
              <div class="p-field">
                <label for="username">Username</label>
                <input id="username" type="text" pInputText />
              </div>
              <div class="p-field">
                <label for="password">Password</label>
                <input id="password" type="password" pPassword />
              </div>
              <button type="submit" pButton class="p-mt-2" label="Submit"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  