// .comparison-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     padding: 20px;
//   }
  
//   .mortgage-item {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     border: 1px solid #ddd;
//     border-radius: 8px;
//     padding: 16px;
//     margin: 0 10px;
//     box-shadow: 0 2px 4px rgba(0,0,0,0.1);
//     background-color: #fff;
//   }
  
//   .details {
//     margin-bottom: 10px;
//   }

//   .comparison-container {
//     width: 100%;
    
//     display: flex;
//     justify-content: center;
//   }
  
//   .mortgage-item {
//     width: 300px; /* Adjust width as necessary */
//     padding: 20px;
//     box-sizing: border-box;
//   }
  
//   ::ng-deep .p-carousel-item {
//     width: 200px;;
//     /* Additional styles if needed */
//   }

  .header {
    // background-color: #0A21C0;
    background-color: #436B65;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }

  .logo {
    height: 40px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }




//   ::ng-deep .p-carousel .p-carousel-content {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   ::ng-deep .p-carousel .p-carousel-item {
//     overflow: hidden;
//     flex: 0 0 auto;
//     box-sizing: border-box;
//   }
  
//   .comparison-container {
//     padding: 20px;
//   }
  
//   ::ng-deep .p-carousel .p-carousel-item .mortgage-item {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border: 1px solid var(--surface-d);
//     border-radius: 3px;
//     margin: .3rem;
//     text-align: center;
//     padding: 2rem 0;
//   }
  
//   ::ng-deep .p-carousel .p-carousel-item .details {
//     text-align: center;
//   }
  
   /* Styling for the carousel container */
.comparison-container {
    // background-color: #A9C25D;
    max-width: 100%;
    margin: 5rem; 
    .p-carousel {
      /* Ensure the carousel items are displayed in a row */
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      // background-color: #A9C25D;

      /* Optional: Hide scrollbar */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }
  
    .p-carousel .p-carousel-item {
      box-sizing: border-box;
      flex: 0 0 auto;
      width: 26.66%; /* Adjust to fit your needs */
      overflow: hidden; /* Hide overflow */
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .mortgage-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--surface-d);
      border-radius: 1.25rem;
      margin: .3rem;
      text-align: center;
      padding: .5rem .5rem;
      background-color: #f7f9fc;
      //width: 100%; /* Ensure it uses full width of the carousel item */
    }

    .details {
      text-align: center;
    }
  }
  
  .chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  // .carousel-container{
  //   display: grid;
  // justify-content: center;
  // align-items: center;
  // }

  .charts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Space between items */
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: relative;
  }
  
  .chart-container {
    background-color: #f9f9f9; /* Background color */
    border: 1px solid #ddd; /* Border for clarity */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    transition: all 0.3s ease; /* Smooth transition for scaling */
    position: relative; /* Necessary for proper z-index stacking */
    display: flex; /* Use flexbox to center content */
    align-items: center;
    justify-content: center;
  }
  
  .chart-container p-chart, .chart-container highcharts-chart {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
  }
  
  .chart-container.expanded {
    grid-column: span 2; /* Span across both columns */
    grid-row: span 2;    /* Span across both rows */
    transform: scale(1.1); /* Slightly scale up the item */
    z-index: 1; /* Bring the expanded item on top */
  }
  
  .chart-display{
    display: flex;
    flex-direction: row;
  }

  .chart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
    grid-template-rows: repeat(2, 1fr); /* Create 2 equal rows */
    gap: 16px; /* Space between grid items */
    height: 600px; /* Adjust as needed */
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  .chart-item {
    border: 1px solid #ddd; /* Optional: Add border for better visibility */
    box-sizing: border-box; /* Include padding and border in width and height */
  }
  
  .chart-item-1 {
    grid-column: 1 / 2; /* Start at column 1, end at column 2 */
    grid-row: 1 / 2; /* Start at row 1, end at row 2 */
  }
  
  .chart-item-2 {
    grid-column: 2 / 3; /* Start at column 2, end at column 3 */
    grid-row: 1 / 2; /* Start at row 1, end at row 2 */
  }
  
  .chart-item-3 {
    grid-column: 1 / 2; /* Start at column 1, end at column 2 */
    grid-row: 2 / 3; /* Start at row 2, end at row 3 */
  }
  
  .chart-item-4 {
    grid-column: 2 / 3; /* Start at column 2, end at column 3 */
    grid-row: 2 / 3; /* Start at row 2, end at row 3 */
  }
  
  // .chart-card {
  //   background-color: #f7f9fc; /* Light background color */
  //   border-radius: 10px; /* Rounded corners */
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  //   padding: 16px; /* Space inside the card */
  //   box-sizing: border-box; /* Include padding and border in width and height */
  //   height: 100%; /* Ensure the card takes the full height of the grid item */
  // }

  .chart-card {
    position: relative; /* To position the overlay absolutely within the card */
    background-color: #f7f9fc; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 16px; /* Space inside the card */
    box-sizing: border-box; /* Include padding and border in width and height */
    height: 100%; /* Ensure the card takes the full height of the grid item */
    overflow: hidden; /* Hide any overflowing content */
  }
  
  .chart-content {
    height: 100%; /* Ensure the chart content takes the full height of the card */
  }
  
  .overlay {
    position: absolute; /* Position overlay absolutely within the card */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    color: white; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0; /* Hide overlay by default */
    transition: opacity 0.3s ease; /* Smooth transition */
  }
  
  // .chart-card:hover .overlay {
  //   opacity: 1; /* Show overlay on hover */
  // }

  .chart-card:hover .overlay {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-chart-container {
    height: 100%;
    width: 100%;
  }

  .graph-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .info-title {
    color: rgba(70, 87, 233, 0.6);
    font-weight: 600;
    margin: 0 0 4px;
  }
  
  .info-text {
    color: rgba(70, 87, 233, 0.6);
    font-weight: 400;
    margin: 0;
  }
  
  .info-box {
    border-radius: 12px;
    background-color: #f7f9fc;
    margin-top: 14px;
    padding: 12px;
    font-size: 12px;
    line-height: 20px;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-bottom: 3rem;
  }
  